h1{
    color: blueviolet;
}

#FirstHeading{
    color: orangered;
}

.span1{
    background-color: cadetblue;
}

#pink{
    color: deeppink;
}

#blue{
    background-color: blue;
}

.green{
    background-color: green;
}